html{
    font-family: "comfortaa", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(https://i.imgur.com/udu4V57.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 40px;
    justify-content: center;
    border: solid 2px #8591c8;
}
#logo{
    display: flex;
    flex-grow: 0;
    align-items: center;
    font-size: 200%;
    color: #383838;
    padding: 15px;
    margin: 3px;
    background-color: #2beaccfd;
    border: solid orangered 2px;
    border-radius: 40px;
}
#program{
    color: purple;
}
.title{
    color: #383838;
    text-shadow: 1px 2px  orangered;
    background-color: #8591c8;
    border: solid 2px #383838;
    border-radius: 40px;
    padding: 10px;
    margin: 10px 40px 5px;
}
h1, h2 {
    color: #2beaccfd;
    text-align: center;
    background-color: #1c1c1c;
    border-radius: 30px 30px 0 0;
    border: solid purple 3px;
    padding: 10px;
    margin: 0;
}
p{
    color: #8591c8;
    text-align: justify;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}
div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid 3px orangered;
    border-radius: 50px;
    background-color: black;
    padding: 15px;
    column-gap: 10px;
}
button{
    font-family: "comfortaa", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2beaccfd;
    background-color: #1c1c1c;
    border-color: #8591c8;
    border-width: 3px;
    border-radius: 15px;
    padding: 8px;
    align-self: center;
}
#min, #sec, #msec{
    border-top: none;
    border-radius: 0 0 30px 30px;
    border-color: #383838;
}
.buttonsConsole{
    display: flex;
    justify-content: space-between;
    padding: 15px 25%;
    border-color: #2beaccfd;
    background-color: black;
}